:root {
  --shadow_color: "#F5F6FF";
  --dashboard_background_color: "#FCFCFE";
  --main_color: "#47ada9";
  --v-theme-primary: "#47ada9";
  --secondary_color: "#5CBBF6";
  --third: "#FAFAFC";
  --titles_color: "#171717";
  --subtitles_color: "#828ABA";
  --label_color: "#828ABA";
  --placeholder_color: "#828ABA";
  --input_color: "#828ABA";
  --form_neutral_button_color: "#828ABA";
  --table_neutral_button_color: "#828ABA";
  --warning_color: "#FF445B";
  --error_color: "#FF445B";
  --success_color: "#06D6A0";
  --third-trans: "#F6F7FEB2";
  --customBlue: "#4F46E5";
  --blue: "#1fb6ff";
}
