/* End of the global classes */
/* Start of the quill editor styles */
.ql-container {
  height: 250px !important;
}

.ql-snow .ql-picker.ql-header {
  width: 150px !important;
}

.ql-toolbar.ql-snow {
  background-color: #f4f5f9 !important;
  border-radius: 10px 10px 0 0;
}

.ql-container.ql-snow {
  border-radius: 0px 0px 10px 10px;
}

.ql-picker-label.ql-active {
  color: var(--titles_color) !important;
}

.ql-editor.ql-blank,
.ql-editor {
  font-size: 18px;
  font-family: "Montserrat";
}

.v-locale--is-ltr .ql-editor.ql-blank,
.v-locale--is-ltr .ql-editor {
  text-align: left !important;
}

/* Small Quill styles */
.small-quill .ql-toolbar.ql-snow,
.small-quill .ql-container.ql-snow {
  background-color: white !important;
  border-color: #f5f6ff !important;
}
.small-quill .ql-container.ql-snow {
  height: 130px;
}

/* End of the quill editor styles */
/* Start of the table styles */
/* Start of the custom style for the multiselect */
.p-multiselect-panel {
  z-index: 9999 !important;
  border-radius: 0.5rem;
}

.p-multiselect-header {
  background: #fff !important;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext {
  padding-block: 5px !important;
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext:focus {
  box-shadow: none !important;
  @apply border-primary;
}

/* Select wrapper class */
.p-multiselect,
.p-dropdown {
  border-radius: 12px !important;
}
.p-multiselect .p-multiselect-label,
.p-multiselect .p-dropdown-label,
.p-dropdown .p-multiselect-label,
.p-dropdown .p-dropdown-label {
  padding-inline: 0 !important;
  font-weight: normal;
  @apply font-switzer text-sub;
}
.p-multiselect .p-multiselect-label.p-placeholder,
.p-multiselect .p-dropdown-label.p-placeholder,
.p-dropdown .p-multiselect-label.p-placeholder,
.p-dropdown .p-dropdown-label.p-placeholder {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 14px;
  font-weight: normal !important;
}
.p-multiselect.p-inputwrapper-filled .p-multiselect-label,
.p-multiselect.p-inputwrapper-filled .p-dropdown-label,
.p-dropdown.p-inputwrapper-filled .p-multiselect-label,
.p-dropdown.p-inputwrapper-filled .p-dropdown-label {
  @apply text-primary;
}
.p-multiselect:not(.p-disabled).p-focus,
.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none !important;
  border-color: #d7daea !important;
}

.p-dropdown-clear-icon {
  left: unset;
  right: unset;
  top: 25px;
  inset-inline-end: 2rem;
}

.p-dropdown-trigger {
  width: -moz-fit-content;
  width: fit-content;
}

/* End of the select wrapper class */
/* End of the custom style for the multiselect */
.inline-nav {
  @apply pt-7;
}
.inline-nav li {
  @apply mb-4 last:mb-0 ps-4;
}
.inline-nav li a,
.inline-nav li button {
  @apply flex items-center gap-2 text-sub relative;
}
.inline-nav li a::before,
.inline-nav li button::before {
  content: "";
  @apply absolute w-0 h-full transition duration-300 rounded-lg bg-primary inline;
  inset-inline-start: -0.75rem;
}
.inline-nav li a svg,
.inline-nav li button svg {
  @apply w-4 h-4;
}
.inline-nav li a svg path,
.inline-nav li button svg path {
  @apply fill-sub;
}
.inline-nav li a.router-link-active.router-link-exact-active, .inline-nav li a.active,
.inline-nav li button.router-link-active.router-link-exact-active,
.inline-nav li button.active {
  @apply text-primary;
}
.inline-nav li a.router-link-active.router-link-exact-active::before, .inline-nav li a.active::before,
.inline-nav li button.router-link-active.router-link-exact-active::before,
.inline-nav li button.active::before {
  @apply w-1;
}
.inline-nav li a.router-link-active.router-link-exact-active path, .inline-nav li a.active path,
.inline-nav li button.router-link-active.router-link-exact-active path,
.inline-nav li button.active path {
  @apply fill-primary;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  box-shadow: unset !important;
}

td.v-data-table__td {
  padding-block: 1rem !important;
}

.v-data-table-header__content {
  text-transform: capitalize !important;
  @apply font-switzer text-subTitle whitespace-nowrap font-medium;
}

.v-locale--is-rtl .v-data-table-header__content {
  @apply font-neo-sans;
}
.v-locale--is-rtl .p-multiselect .p-multiselect-label,
.v-locale--is-rtl .p-multiselect .p-dropdown-label,
.v-locale--is-rtl .p-dropdown .p-multiselect-label,
.v-locale--is-rtl .p-dropdown .p-dropdown-label {
  @apply font-neo-sans;
}

.p-inputtext,
.p-togglebutton,
.p-selectbutton,
.p-inputgroup {
  box-shadow: none !important;
}

.p-dropdown-filter-container {
  padding: 0.5rem;
  background: #fff;
  @apply relative;
}

.p-dropdown-filter {
  @apply border py-2 pe-3 ps-6 border-sub rounded-md border-solid;
  width: 100%;
}

.p-dropdown-filter-icon {
  transform: translateY(-50%);
  @apply absolute;
}

.v-table__wrapper tbody .v-data-table__tr td {
  font-family: "Switzer";
  font-weight: 600 !important;
  margin-bottom: 0.25rem !important;
  color: var(--titles_color) !important;
}

.p-dropdown-item {
  @apply font-switzer text-start;
  padding: 1rem;
}

.p-dropdown-empty-message {
  @apply px-2 pb-2 text-center;
}

body[dir=rtl] .p-dropdown-item {
  @apply font-neo-sans;
}

.v-selection-control__input:hover::before {
  @apply hidden;
}
.v-selection-control .mdi-checkbox-blank-outline {
  opacity: 1 !important;
  color: var(--subtitles_color) !important;
  background: #fff;
  width: 1rem !important;
  height: 1rem !important;
  @apply text-primary;
}
.v-selection-control .mdi-checkbox-blank-outline::before {
  font-size: 1.6rem !important;
  color: var(--subtitles_color) !important;
}
.v-selection-control .mdi-checkbox-marked,
.v-selection-control .mdi-minus-box {
  @apply text-primary;
  width: 1rem !important;
  height: 1rem !important;
}
.v-selection-control .mdi-checkbox-marked::before,
.v-selection-control .mdi-minus-box::before {
  font-size: 1.6rem !important;
}
.v-input__details {
  display: none !important;
}

.status {
  @apply capitalize;
}
.status.expired {
  @apply ms-1 text-sm font-semibold text-error;
}
.status.cancelled {
  @apply ms-1 text-sm font-semibold text-error;
}
.status.active, .status.success, .status.paid, .status.new {
  @apply ms-1 text-sm font-semibold text-success;
}

.p-multiselect .p-multiselect-label,
.p-multiselect .p-dropdown-label,
.p-dropdown .p-multiselect-label,
.p-dropdown .p-dropdown-label {
  @apply font-neo-sans;
}

.v-label {
  opacity: 1 !important;
}

.label-lg {
  @apply text-lg;
}
.label-lg .v-switch .v-selection-control {
  @apply font-medium;
}
.label-lg .v-switch .v-selection-control label {
  @apply opacity-100  text-lg;
  color: var(--titles_color) !important;
}/*# sourceMappingURL=global-classes.css.map */